<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.business.mapper.StockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.business.entity.Stock">
        <id column="stock_id" property="stockId" />
        <result column="sale_area_id" property="saleAreaId" />
        <result column="sale_area_name" property="saleAreaName" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="stock_room_id" property="stockRoomId" />
        <result column="stock_room_name" property="stockRoomName" />
        <result column="stock_zone_id" property="stockZoneId" />
        <result column="stock_zone_name" property="stockZoneName" />
        <result column="sku_code" property="skuCode" />
        <result column="sku_id" property="skuId" />
        <result column="resource_management" property="resourceManagement" />
        <result column="product_class_id" property="productClassId" />
        <result column="product_class_name" property="productClassName" />
        <result column="product_brand_id" property="productBrandId" />
        <result column="product_brand_name" property="productBrandName" />
        <result column="product_texture_id" property="productTextureId" />
        <result column="product_texture_name" property="productTextureName" />
        <result column="prod_area_id" property="prodAreaId" />
        <result column="prod_area_name" property="prodAreaName" />
        <result column="specification" property="specification" />
        <result column="specification1" property="specification1" />
        <result column="specification2" property="specification2" />
        <result column="expand1" property="expand1" />
        <result column="expand2" property="expand2" />
        <result column="length" property="length" />
        <result column="meter_weight" property="meterWeight" />
        <result column="quantity_type" property="quantityType" />
        <result column="pieces" property="pieces" />
        <result column="tolerance" property="tolerance" />
        <result column="tolerance_range" property="toleranceRange" />
        <result column="weight_range" property="weightRange" />
        <result column="ten_meter_weight" property="tenMeterWeight" />
        <result column="supply_meter_weight" property="supplyMeterWeight" />
        <result column="sale_lock_flag" property="saleLockFlag" />
        <result column="avble_amount" property="avbleAmount" />
        <result column="avble_manager_weight" property="avbleManagerWeight" />
        <result column="avble_pound_weight" property="avblePoundWeight" />
        <result column="stock_amount" property="stockAmount" />
        <result column="stock_pound_weight" property="stockPoundWeight" />
        <result column="stock_manager_weight" property="stockManagerWeight" />
        <result column="lock_amount" property="lockAmount" />
        <result column="lock_pound_weight" property="lockPoundWeight" />
        <result column="lock_manager_weight" property="lockManagerWeight" />
        <result column="contract_amount" property="contractAmount" />
        <result column="contract_pound_weight" property="contractPoundWeight" />
        <result column="contract_manager_weight" property="contractManagerWeight" />
        <result column="plan_amount" property="planAmount" />
        <result column="plan_pound_weight" property="planPoundWeight" />
        <result column="plan_manager_weight" property="planManagerWeight" />
        <result column="lading_amount" property="ladingAmount" />
        <result column="lading_pound_weight" property="ladingPoundWeight" />
        <result column="lading_manager_weight" property="ladingManagerWeight" />
        <result column="process_amount" property="processAmount" />
        <result column="process_pound_weight" property="processPoundWeight" />
        <result column="process_manager_weight" property="processManagerWeight" />
        <result column="manual_amount" property="manualAmount" />
        <result column="manual_pound_weight" property="manualPoundWeight" />
        <result column="manual_manager_weight" property="manualManagerWeight" />
        <result column="average_manager_cost" property="averageManagerCost" />
        <result column="average_pound_cost" property="averagePoundCost" />
        <result column="average_pound_price" property="averagePoundPrice" />
        <result column="average_manager_price" property="averageManagerPrice" />
        <result column="price_pound" property="pricePound" />
        <result column="price_manager" property="priceManager" />
        <result column="price_discount_pound" property="priceDiscountPound" />
        <result column="price_discount_manager" property="priceDiscountManager" />
        <result column="version_price" property="versionPrice" />
        <result column="stock_room_type" property="stockRoomType" />
        <result column="workgroup_id" property="workgroupId" />
        <result column="workgroup_name" property="workgroupName" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user_code" property="createUserCode" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_date" property="createDate" />
        <result column="update_user_code" property="updateUserCode" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_date" property="updateDate" />
        <result column="sys_id" property="sysId" />
        <result column="platform_id" property="platformId" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="org_short_name" property="orgShortName" />
        <result column="owner_id" property="ownerId" />
        <result column="owner_code" property="ownerCode" />
        <result column="owner_name" property="ownerName" />
        <result column="demand_amount" property="demandAmount" />
        <result column="demand_manager_weight" property="demandManagerWeight" />
        <result column="demand_pound_weight" property="demandPoundWeight" />
        <result column="move_amount" property="moveAmount" />
        <result column="move_manager_weight" property="moveManagerWeight" />
        <result column="move_pound_weight" property="movePoundWeight" />
        <result column="version" property="version" />
        <result column="sale_return_amount" property="saleReturnAmount" />
        <result column="sale_return_manager_weight" property="saleReturnManagerWeight" />
        <result column="sale_return_pound_weight" property="saleReturnPoundWeight" />
        <result column="purchase_return_amount" property="purchaseReturnAmount" />
        <result column="purchase_return_manager_weight" property="purchaseReturnManagerWeight" />
        <result column="purchase_return_pound_weight" property="purchaseReturnPoundWeight" />
    </resultMap>

</mapper>
