<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.business.mapper.SaleContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.business.entity.SaleContract">
        <id column="sale_contract_id" property="saleContractId" />
        <result column="sale_contract_no" property="saleContractNo" />
        <result column="cloud_contract_id" property="cloudContractId" />
        <result column="sale_agreement_no" property="saleAgreementNo" />
        <result column="audit_status" property="auditStatus" />
        <result column="goods_flag" property="goodsFlag" />
        <result column="invoice_flag" property="invoiceFlag" />
        <result column="delivery_type" property="deliveryType" />
        <result column="transport_type" property="transportType" />
        <result column="pay_method" property="payMethod" />
        <result column="transport_settlement_type" property="transportSettlementType" />
        <result column="contract_pay_status" property="contractPayStatus" />
        <result column="source_type" property="sourceType" />
        <result column="contract_delay_times" property="contractDelayTimes" />
        <result column="sale_contract_date" property="saleContractDate" />
        <result column="contract_delay_date" property="contractDelayDate" />
        <result column="pre_lading_date" property="preLadingDate" />
        <result column="sale_area_id" property="saleAreaId" />
        <result column="sale_area_name" property="saleAreaName" />
        <result column="contract_type" property="contractType" />
        <result column="hoisting_cost_flag" property="hoistingCostFlag" />
        <result column="bargain_flag" property="bargainFlag" />
        <result column="intention" property="intention" />
        <result column="buy_unit_id" property="buyUnitId" />
        <result column="buy_unit_name" property="buyUnitName" />
        <result column="settlement_unit_id" property="settlementUnitId" />
        <result column="settlement_unit_name" property="settlementUnitName" />
        <result column="business_user_code" property="businessUserCode" />
        <result column="business_user_name" property="businessUserName" />
        <result column="business_user_weixin" property="businessUserWeixin" />
        <result column="business_department_id" property="businessDepartmentId" />
        <result column="extract_warehouse_id" property="extractWarehouseId" />
        <result column="contract_amount" property="contractAmount" />
        <result column="contract_manager_weight" property="contractManagerWeight" />
        <result column="contract_pound_weight" property="contractPoundWeight" />
        <result column="in_tax_receive_money" property="inTaxReceiveMoney" />
        <result column="no_tax_receive_money" property="noTaxReceiveMoney" />
        <result column="in_tax_pay_money" property="inTaxPayMoney" />
        <result column="no_tax_pay_money" property="noTaxPayMoney" />
        <result column="no_tax_execute_money" property="noTaxExecuteMoney" />
        <result column="in_tax_execute_money" property="inTaxExecuteMoney" />
        <result column="in_tax_available_money" property="inTaxAvailableMoney" />
        <result column="no_tax_available_money" property="noTaxAvailableMoney" />
        <result column="xingyun_contract_status" property="xingyunContractStatus" />
        <result column="advance_payment_per" property="advancePaymentPer" />
        <result column="advance_payment_money" property="advancePaymentMoney" />
        <result column="in_tax_plan_lock_money" property="inTaxPlanLockMoney" />
        <result column="no_tax_plan_lock_money" property="noTaxPlanLockMoney" />
        <result column="in_tax_lading_money" property="inTaxLadingMoney" />
        <result column="no_tax_lading_money" property="noTaxLadingMoney" />
        <result column="in_tax_settlement_money" property="inTaxSettlementMoney" />
        <result column="no_tax_settlement_money" property="noTaxSettlementMoney" />
        <result column="invoice_money" property="invoiceMoney" />
        <result column="no_invoice_money" property="noInvoiceMoney" />
        <result column="remark" property="remark" />
        <result column="plan_amount" property="planAmount" />
        <result column="plan_manager_weight" property="planManagerWeight" />
        <result column="plan_pound_weight" property="planPoundWeight" />
        <result column="lading_amount" property="ladingAmount" />
        <result column="lading_manager_weight" property="ladingManagerWeight" />
        <result column="lading_pound_weight" property="ladingPoundWeight" />
        <result column="out_amount" property="outAmount" />
        <result column="out_manager_weight" property="outManagerWeight" />
        <result column="out_pound_weight" property="outPoundWeight" />
        <result column="invoice_amount" property="invoiceAmount" />
        <result column="invoice_manager_weight" property="invoiceManagerWeight" />
        <result column="invoice_pound_weight" property="invoicePoundWeight" />
        <result column="return_amount" property="returnAmount" />
        <result column="return_manager_weight" property="returnManagerWeight" />
        <result column="return_pound_weight" property="returnPoundWeight" />
        <result column="print_count" property="printCount" />
        <result column="download_count" property="downloadCount" />
        <result column="sign_status" property="signStatus" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="receive_address" property="receiveAddress" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_phone" property="contactPhone" />
        <result column="contact_weixin" property="contactWeixin" />
        <result column="is_special" property="isSpecial" />
        <result column="version" property="version" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user_code" property="createUserCode" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_date" property="createDate" />
        <result column="update_user_code" property="updateUserCode" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_date" property="updateDate" />
        <result column="sys_id" property="sysId" />
        <result column="platform_id" property="platformId" />
        <result column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="department_id" property="departmentId" />
        <result column="delay_day" property="delayDay" />
        <result column="customer_type" property="customerType" />
        <result column="lifting_fee_money" property="liftingFeeMoney" />
        <result column="goods_money" property="goodsMoney" />
        <result column="demand_type" property="demandType" />
        <result column="pay_success_date" property="paySuccessDate" />
        <result column="delay_temp_day" property="delayTempDay" />
        <result column="in_org_id" property="inOrgId" />
        <result column="delay_reason" property="delayReason" />
        <result column="apply_goods_flag" property="applyGoodsFlag" />
        <result column="credit_supply_flag" property="creditSupplyFlag" />
        <result column="credit_end_flag" property="creditEndFlag" />
        <result column="quality" property="quality" />
        <result column="lading_sms_flag" property="ladingSmsFlag" />
        <result column="wechat_share_flag" property="wechatShareFlag" />
        <result column="price_model" property="priceModel" />
        <result column="pending_status" property="pendingStatus" />
        <result column="old_xingyun_contract_status" property="oldXingyunContractStatus" />
        <result column="order_maker_code" property="orderMakerCode" />
        <result column="order_maker_name" property="orderMakerName" />
    </resultMap>

</mapper>
